<html>
    <head>Edit categories</head>
    <title>
        Edit categories
    </title>
    <body>
        <form method="post">
          {% csrf_token %}
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name" value="{{p.product_name}}" required><br><br>
       `<label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{p.category}}" required><br><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="{{p.price}}" required><br><br>
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" value="{{p.quantity}}" required><br><br>
        <input type="submit" value="Edit Category">

    </body>
</html>