
<!DOCTYPE html>
<html>
    <head>
        <title>Book details</title>
    </head>
    <body>
        <h1>
            <ul>
                <table border="1">
                    <tr>
                        <th>Sl no</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for p in products %}
                    <tr>
                        <td>{{ forloop.counter}}</td>
                        <td>{{ p.product_name}}</td>
                        <td>{{ p.category}}</td>
                        <td>{{ p.price}}</td>
                        <td>{{ p.quantity}}</td>
                        <td><a href="{% url 'dproduct' p.id %}">Delete</a></td>
                        <td><a href="{% url 'editproduct' p.id %}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </ul>
        </h1>
    </body>
</html>
